<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Le Catalog del Bakery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Gloria+Hallelujah|Homemade+Apple" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <img src="/images/logo.png" class="brand-logo center">
    </div>
  </nav>
  <main>
  <%= yield %>
</main>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2018 Le Bakery
    <p class="grey-text text-lighten-4 right">88 Michael Street, Brooklyn, NY</p>
    </div>
  </div>
</footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
