<h2> Hi <%=@input_name%>! You are our favorite customer! </h2>

<h2> You will be getting our catalog via email. In the meantime, feel free to browse our store and buy lots of cupcakes!</h2>


  <span id="sign-greeting"><h5>We Love</h5><h5><%=@input_name%></h5></span>
<img src='/images/cupcake_sign.png'>
