<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Le Bakery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Gloria+Hallelujah|Homemade+Apple" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <img src="images/logo.png" class="brand-logo center">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li>
        <li><a href="/muffins">Muffins</a></li>
        <li><a href="/cookies">Cookies</a></li>
        <li><a href="/cakes">Cakes</a></li>
      </ul>
    </div>
  </nav>
  <h1 id="logo-font" class="center-align">Le Bakery</h1>
  <main>
  <%= yield %>
</main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
