#logo-font {
  font-family: 'Homemade Apple', cursive;
  color: #20A39E;
}

a {
  color: #20A39E;
}
h2 {
  color: #20A39E;
}


#sign-greeting {
  position: absolute;
  margin-top: 190px;
  margin-left: 610px;
  font-family: "Love Ya Like A Sister";
}

.brand-logo {
  height:95px;
  width:95px
}

nav {
  height: 100px;
}

#banner {
  height: 400px;
  width:auto;
}

h2 {
  text-align: center;
}

body {
  font-family: 'Gloria Hallelujah';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
