#sign-greeting {
  position: absolute;
  margin-top: 190px;
  margin-left: 610px;
}

.brand-logo {
  height:95px;
  width:95px
}

nav {
  height: 100px;
}

#banner {
  height: 400px;
  width:auto;
}

h2 {
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
